/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

header {
    background-color: #F875AA;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    background-color: #FFF6F6;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
    margin-right: 20px;
    text-decoration: none;
    border: 2px black solid;
}

.btn-order {
    background-color: #FFF6F6;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    border: 2px black solid;
}

/* Hero Section*/
#hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #FFF6F6;
}

.hero-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    margin-left: 200px;
}

.hero-content {
    max-width: 600px;
    margin-right: 200px;
}

.hero-content h1 {
    font-size: 3rem;
}

.btn-primary {
    background-color: #F875AA;
    color: black;
    margin-left: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px black solid;
}

/* Products Section */
#products h2 {
    padding: 40px 0 0 40px;
    background-color: #f5e1e9;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #AEDEFC;
}

.product {
    text-align: center;
    max-width: 300px;
    margin: 20px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Testimonials Section */
#testimonials {
    background-color: #F875AA;
    color: black;
    padding: 40px;
    text-align: center;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonial {
    margin: 40px;
    max-width: 700px;
}

.testimonial img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

/* Contact Us Section */
#contact {
    padding: 40px;
    text-align: center;
    background-color: #FFF6F6;
}

form input,
form textarea {
    width: 30%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 0 solid #000000;
}

button{
    padding: 10px 20px;
    background-color: #F875AA;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px black solid;
}

/*  Footer */
footer {
    background-color: #AEDEFC;
    color: black;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0px;
}

/* Media Queries For Responsivess */
@media (max-width: 760px) {
    nav ul {
        display: none;
    }

    nav {
        flex-direction: column;
    }

    .btn-order {
        margin-top: 10px;
    }

    #hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        margin: auto;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
    .btn-primary {
        margin-bottom: 10px;
    }
    #products h2 {
        text-align: center;
    }

    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .testimonials {
        margin: auto;
    }

    form input,
    form textarea {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 1,8rem;
    }

    .product {
        width: 100%;
        margin: 10px 0;
    }

    .testimonial {
        width: 100%;
    }
}